@charset "UTF-8";
/* CSS Document */
body{
	font-family:arial, helvetica, sans serif;
	font-size: 100%;
	color: #D8D8D8;
	background: url(../Images/zwarte-gestippelde-naadloze-achtergrond-vector_53-18068.jpg)}
h1{
	font-size: 200%}
h2{
	font-size: 180%}
h3{
	font-size: 150%}

