@charset "UTF-8";
/* CSS Document */
body{
		background-color: #CFF;
		font: 100%/150% Verdana, Geneva, sans-serif;
		color: #600;
}

ul{
		list-style-type:none;
		padding:left;
		margin-left:0;
}
#navigatie li{
		background-color: #DC2427;
		width: 20%;
		text-align: center;
		border-top: 1px solid #000;
		border-bottem: 1px solid #000;
}

#navigatie a{
		text-decoration: none;
		color: #FFFFFF;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		display: block;
}

#navigatie a:hover{
		color:#31AFC1;
		background-color:#0000000;
}