.send{ background:url("send.png") top left no-repeat; }
#send{ width:54px; height:72px; background-position:0 0; }
#send:hover{ width:54px; height:72px; background-position:0 -72px; }
#send:active{ width:54px; height:72px; background-position:0 -144px; }

